
#top{
     background-color: rgb(6, 152, 250);
     padding: 0.3rem;
}
.taskbox{
    margin-left: 30px;
    margin-top: 20px;
}
.taskbox input{
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 35px;
}
.taskbox button{
    padding: 0.1rem;
    font-size: medium;
    width: 60px;
    height: 30px;
    background-color: rgb(6, 152, 250);
    border: none;
}